a.out
.vscode
.DS_store
ParticleType_cpp.d
ParticleType_cpp.so
ParticleType_cpp_ACLiC_dict_rdict.pcm
ResonanceType_cpp.d
ResonanceType_cpp.so
ResonanceType_cpp_ACLiC_dict_rdict.pcm
Particle_cpp.d
Particle_cpp.so
Particle_cpp_ACLiC_dict_rdict.pcm
particle.root
main_cpp.d 
main_cpp.so
main_cpp_ACLiC_dict_rdict.pcm